:root {
    --color-primary: hsl(180, 5%, 87%);
    --color-secondary: hsl(240, 1%, 60%);
    --color-tertiary: #c9c7c5;
    --color-accent: hsl(34, 78%, 65%);
    --color-accent-secondary: hsl(54, 78%, 65%);
    --color-background: #1e1e20;
    --color-background-shade: hsl(240, 3%, 18%);
    font-size: 12px;
}

html {
    background-color: var(--color-background);
    color: var(--color-primary);
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 2;
}

img {
    height: 300px;
    max-width: 100%;
    display: flex;
    margin: 0 auto;
    }

nav {
    background-color: var(--color-background);
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo-img {
        height: 100px;
        width: auto;
        display: flex;
        margin: 0 auto;
    }
    .navigation {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
        .navigation a {
            color: var(--color-primary);
            text-decoration: none;
            margin: 0 1rem;
            font-size: 1.5rem;
        }
            .navigation a:hover {
                color: var(--color-accent);
            }
        .navigation a.active {
            color: var(--color-accent);
        }

    


header {
    margin-top: 15%;
    margin-bottom: 10%;
    border-bottom: 5px solid var(--color-secondary);
}

    

        .pictureMe {
            display: flex;
            float: right;
            border: 1rem solid var(--color-background-shade);
            border-radius: 2rem;
            filter: drop-shadow(0 0 0.5rem var(--color-background-shade));
            margin: 1rem 0 0 2rem;
            max-width: 100%;
        }

body {
    font-family: Quicksand,-apple-system,BlinkMacSystemFont,Roboto,Oxygen,
    Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
    font-size: 1rem;
    margin-top: 1rem;
    margin-bottom: 10rem;
    margin-left: 10rem;
    margin-right: 10rem;
}

    .about {
        margin-top: 3rem;
        margin-bottom: 5rem;
        margin-left: 1rem;
        margin-right: 2rem;
    }

    .books {
        margin-top: 3rem;
        margin-bottom: 5rem;
        margin-left: 1rem;
        margin-right: 2rem;
    }

    .poem {
        margin-top: 3rem;
        margin-bottom: 5rem;
        margin-left: 1rem;
        margin-right: 2rem;
    }

    .essay {
        margin-top: 3rem;
        margin-bottom: 5rem;
        margin-left: 1rem;
        margin-right: 2rem;
    }

    .calendar {
        margin-top: 3rem;
        margin-bottom: 5rem;
        margin-left: 1rem;
        margin-right: 2rem;     

    }
        table {
            border-collapse: collapse;
            border-spacing:  0;
            width: 90%;
            table-layout: fixed;
        }
        tr {
            border: 1px solid var(--color-secondary);
        }
        th {
            border: 1px solid var(--color-secondary);
            padding: 8px;
            text-align: center;
            background-color: var(--color-background-shade);
            color: var(--color-primary);
        }
        td {
            border: 1px solid var(--color-secondary);
            padding: 8px;
            text-align: left;
            font-weight: 600;
            text-align: center;
        }
        tr:nth-child(even) {
            background-color: var(--color-background-shade);
        }
        #cs2300 {
            background-color: var(--color-accent);
            color: var(--color-background);
        }
        #cs1410 {
            background-color: var(--color-accent-secondary);
            color: var(--color-background);
        }
        #cs2600 {
            background-color: var(--color-accent-secondary);
            color: var(--color-background);
        }
        #cs2550 {
            background-color: var(--color-accent);
            color: var(--color-background);
        }


footer {
    background-color: var(--color-background);
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
    .contact {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
        .contact a {
            color: var(--color-primary);
            text-decoration: none;
            margin: 0 1rem;
            font-size: 1.5rem;
        }
            .contact a:hover {
                color: var(--color-accent);
            }
        .contact a.active {
            color: var(--color-accent);
        }