:root {
    --color-primary: hsl(180, 5%, 87%);
    --color-secondary: hsl(240, 1%, 60%);
    --color-tertiary: #c9c7c5;
    --color-accent: #ebaf60;
    --color-background: #1e1e20;
    --color-background-shade: hsl(240, 3%, 18%);
    font-size: 12px;
}

html {
    background-color: var(--color-background);
    color: var(--color-primary);
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 2;
}

img {
    height: 300px;
    max-width: 100%;
    display: flex;
    margin: 0 auto;
    }

nav {

}

    .logo-img {
        height: 100px;
        width: auto;
        display: flex;
        margin: 0 auto;
    }


header {
    margin-top: 15%;
    margin-bottom: 10%;
    border-bottom: 5px solid var(--color-secondary);
}

    

        .pictureMe {
            display: flex;
            float: right;
            border: 1rem solid var(--color-background-shade);
            border-radius: 2rem;
            filter: drop-shadow(0 0 0.5rem var(--color-background-shade));
            margin: 1rem 0 0 2rem;
        }

body {
    font-family: Quicksand,-apple-system,BlinkMacSystemFont,Roboto,Oxygen,
    Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
    font-size: 1rem;
    margin-top: 1rem;
    margin-bottom: 10rem;
    margin-left: 10rem;
    margin-right: 10rem;
}

    .about {

    }

    .books {

    }

    .poem {

    }

    .essay {

    }

    .calendar {

    }


footer {

}